<nav class="navbar navnar-default">
  <div class="container-fluid">
    <!-- logo -->
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe book</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/recipes" routerLinkActive="active">Recipes</a>
        </li>
        <li>
          <a routerLink="/shopping-list" routerLinkActive="active"
            >Shopping List</a
          >
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li appDropdown class="dropdown">
          <a
            [ngStyle]="{ cursor: 'pointer' }"
            class="dropdown-toggle"
            role="button"
            >Manage <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a [ngStyle]="{ cursor: 'pointer' }">Save Data</a></li>
            <li><a [ngStyle]="{ cursor: 'pointer' }">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
